[Unit]
Description=Run first boot setup
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/share/scripts/firstboot.sh
StandardOutput=journal
StandardError=journal
Environment=DEBUG=1
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target